@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 375px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  position: relative;
}

h1,h2,h3,p,li,ol,ul,a,label,input,textarea,select,form,div,small,span,b{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}

header,main,footer,section,div,form,label,input,span,nav,aside{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

section .wrapper{
  padding: 1rem;
}

label{
  margin-bottom: 1rem;
}

input,select,textarea{
  background-color: transparent;
  border: 2px solid #28282B;
  height: 2.5rem;
  color: #111;
  padding: .3rem;
  border-radius: .2rem;
  font-weight: 400;
  font-size: .85rem;
}

input:focus,input:active,select:active,select:focus,textarea:active,textarea:focus,label .rmsc .dropdown-container:active,label .rmsc .dropdown-container:focus{
  outline: none;
  border: 2px solid #c8cdd1;
}

textarea{
  height: 7rem;
  margin-top: .3rem;
  width: 100%;
}

select{
  width: 100%;
  margin-top: .3rem;
}

button{
  width: 10rem;
  height: 2.8rem;
  font-size: .9rem;
  text-transform: capitalize;
  font-weight: 400;
  background-color: #e6961f;
  color: #fff;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

.hero{
  height: 80vh;
  justify-content: center;
  background-color: #fbfbfb;
}

.hero .box span{
  color: #e6961f;
  font-weight: 400;
  font-size: .8rem;
}

.hero .box .heading{
  color: #ffff;
  font-weight:400;
  margin-block: .5rem;
  font-size: 1.5rem;
}

.hero .box .paragraph{
  color: #c8cdd1;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .9rem;
}

.faq span{
  color: #222;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.faq .sub-heading{
  color: #000;
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.faq .box .paragraph{
  font-size: .9rem;
  color:#28282B;
  line-height: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.faq .box .top{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.faq .box .top .heading{
  color: #111;
  font-weight: 501;
  font-size: .8rem;
}

.faq .box{
  margin-bottom: 2rem;
  height: 2rem;
  overflow: hidden;
  border-bottom: 1px solid #c8cdd1;
  cursor: pointer;
  transition: height .4s ease-in-out;
}

.faq .drop{
  height: auto;
}

.features{
  background-color: #28282B;
  padding-block: 2rem;
}

.features .wrapper{
  align-items: center;
  justify-content: center;
}

.features .sub-heading{
  margin-bottom: 2rem;
  text-align: center;
  color: #c8cdd1;
  max-width: 600px;
}

.features b{
  font-weight: 600;
}

.features span{
  text-align: center;
  font-weight: 501;
  color: #e6961f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features .box{
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 8rem;
}

.features .box .paragraph{
  text-align: center;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: .9rem;
  color: #c8cdd1;
  max-width: 400px;
}

.features .box .heading{
  margin-bottom: .5rem;
  font-weight: 501;
  color: #fff;
}

.hero .box{
  max-width: 600px;
}

.end .boxes{
  align-items: center;
  justify-content: center;
}

.end .box{
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.end .box form{
  align-items: center;
  justify-content: center;
}

.end .box label{
  align-items: center;
  justify-content: center;
}

.end .box span,.end .box .paragraph,.end .box .heading{
  text-align: center;
  align-items: center;
}

.features span{
  color: #fff;
}

.hero{
  background-image: url(../public/images/pexels-cottonbro-studio-5474025.jpg);
  background-position: center;
  background-size: cover;
  background-color: #666;
  background-blend-mode: multiply;
}

.faq{
  background-color: #eff2f7;
}

.features{
  background-color: #111;
}

.end{
  background-image: none;
  background-color: #111;
}

.hero input{
  color: #fff;
}

.end input{
  color: #28282B;
}

.footer{
  background-color: #eff2f7;
  padding: 1rem;
}

.footer .footer-box{
  margin-bottom: 2rem;
}

.footer .footer-box .heading{
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.footer .footer-box .paragraph{
  max-width: 400px;
  font-weight: 501;
  font-size: .8rem;
}

.footer .links a{
  color: #111;
  font-weight: 501;
  font-size: .8rem;
}

.footer .links li{
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.footer .social .list{
  display: flex;
  flex-direction: row;
}

.header{
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 1rem;
}

.header a{
  font-weight: 501;
  color: #fff;
}

.logo{
  width: 150px;
}

.waitlist{
  background-color: #111;
  height: 100vh;
  justify-content: center;
}

.waitlist input{
  border: 2px solid #c8cdd1;
  color: #fff;
  height: 2.8rem;
}

.waitlist .box .heading{
  font-size: 2rem;
  margin-bottom: .5rem;
  color: #fff;
  font-weight: 501;
}

.waitlist .box .paragraph{
  color: #c8cdd1;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 500px;
}



.update .box{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1rem;
  border-radius: .3rem;
}

.update .box > span{
  font-weight: 501;
  color: #28282B;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.update .box .top{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.update .box .top .text{
  width: 77%;
}

.update .box .top .text .heading{
  font-weight: 400;
  font-size: .9rem;
}

.update .box .paragraph{
  font-weight: 400;
  font-size: .9rem;
  color: #666;
}

.update .box .top .circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #28282B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.update .box .top .circle .heading{
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
}

.update .box .colored-bg{
  background-color: #e6961f;
  padding: 1rem;
  border-radius: .3rem;
  justify-content: center;
  margin-bottom: 1rem;
}


.update .box .details span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: .5rem;
}

.update .box .colored-bg span{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.update .box .colored-bg > .heading{
  font-weight: 400;
  margin-bottom: .5rem;
}

.update .box .colored-bg  .paragraph{
  margin-bottom: .5rem;
  font-size: .9rem;
  color: #222;
}

.update .box .colored-bg span .heading{
  font-weight: 400;
}

.update .box .colored-bg span .paragraph{
  width: 94%;
  color: #222;
}

.update .box .details > span .paragraph{
  color: #222;
}

.update .box .details > span .heading{
  font-weight: 400;
}

.update .box .details > .paragraph{
  margin-bottom: 1rem;
}

.update .box .details > span{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (min-width:376px){
  body{
    max-width: 100%;
  }
}

@media screen and (min-width:800px){
  .features .boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 1rem;
  }

  .hero .wrapper,.features .wrapper,.faq .wrapper,.footer,.update .wrapper{
    padding: 4rem;
  }

  .hero{
    height: 100vh;
  }

  .footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .footer .footer-box{
    margin: 0;
  }

  .waitlist .boxes{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .waitlist .box{
    width: 49%;
  }

  .waitlist .label-row{
    flex-direction: row;
    justify-content: space-between;
  }

  .waitlist .label-row label{
    width:49%;
  }

  .hero .box .heading{
    font-size: 1.8rem;
  }

  .update .box .details span{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .update .box .details span .heading{
    width: auto;
    margin-right: 1rem;
  }

  .update .box .details span .paragraph{
    width: auto;
  }

  .update .box .top .text{
    width: 94%;
  }
}

@media screen and (min-width:1000px){
  .features .boxes{
    grid-template-columns: repeat(3,1fr);
  }

  .features{
    justify-content: space-between;
  }

  .footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer .footer-box{
    width: 50%;
  }

  .footer .links{
    width: 30%;
  }

  .footer .social{
    width: 20%;
  }
}